src/conf/xml-resources/web-service-references/SolicitudEnvio/wsdl/192.168.1.102_8080/SolicitudEnvio/SolicitudEnvio.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.superntregas.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.superntregas.com/">

<xs:element name="solicitudDeEnvio" type="tns:solicitudDeEnvio"/>

<xs:element name="solicitudDeEnvioResponse" type="tns:solicitudDeEnvioResponse"/>

<xs:complexType name="solicitudDeEnvio">
<xs:sequence>
<xs:element name="direccionDelProveedor" type="xs:string" minOccurs="0"/>
<xs:element name="direccionDelConsumidor" type="xs:string" minOccurs="0"/>
<xs:element name="nombreDelConsumidor" type="xs:string" minOccurs="0"/>
<xs:element name="observaciones" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="solicitudDeEnvioResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>